* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100vw;
    background-image: url(./Images/william-bout-RPzWI0rolS8-unsplash.jpg);
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
}